<h1>Welcome to home page !</h1>

<ul>
    <li><a href="/users/admin">Admin page (must be authenticated)</a></li>
    <li><a href="/users/signin">Signin page</a></li>
    <li><a href="/users/signup">Signup page</a></li>
</ul>