<form action="/users/signup" method="POST">

    <input type="text" placeholder="Votre email" name="email">
    <input type="password" placeholder="Votre mot de passe" name="password">
    <input type="password" name="confirmPassword" placeholder="passwordConfirm">
    <input type="text" name="firstName" placeholder="firstName">
    <input type="text" name="surname" placeholder="surname">
    <input type="date" name="birthDate" placeholder="birthDate">
    <button type="submit">Envoyer</button>
</form>
