<h1>Connexion</h1>
<form action="/users/signin" method="POST">
    <input type="email" placeholder="Votre pseudo" name="email">
    <input type="password" placeholder="Votre mot de passe" name="password">
    <button type="submit">Envoyer</button>
</form>
